.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: antiquewhite;
  flex-direction: column;

  .top-section {
    position: relative;
    top: -120px;
    transform: rotate(90deg);
  }

  section {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .left-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    .checkbox1,
    .checkbox2,
    .checkbox3,
    .checkbox4 {

      position: relative;
      padding: 30px;
      transform: rotate(90deg);
    }

    .checkbox1 {
      left: -37px;
      border-left: 1px solid white;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
    }

    .checkbox2 {
      left: 37px;
      border-left: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white;
      border-top: 1px solid white;
    }

    .checkbox3 {
      top: -50px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      border-left: 1px solid white;

    }

    .checkbox4 {
      top: 50px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
    }
  }

}